:root, body, #root {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.curve-editor * {
	user-select: none;      /* standard */
	-webkit-user-select: none; /* Safari/Chrome */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;  /* IE/Edge */
}
